#project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
}

img {
    width: 314px !important;
    height: 187px;
}

.btn {
    background-color: black;
    margin-right: 10px;
}
  
.btn:hover {
    background-color: #717786;
}